

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posts">Spread</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/posts">Home</a>
        <a class="nav-link" href="#">Trending</a>
        <a class="nav-link" href="#">Help</a>
      </div>
      <div class="d-flex justify-content-evenly">
        <form class="d-flex"  action="/profile">
          <button class="btn btn-outline-success ms-3" type="submit" >SignUp</button>
        </form>
        <form class="d-flex"  action="/verify">
          <button class="btn btn-outline-primary ms-3" type="submit">Login</button>
        </form>
        <form class="d-flex" action="/logout">
          <button class="btn btn-outline-dark ms-3" type="submit">Logout</button>
        </form>
      </div>
     
    </div>
  </div>
</nav>