<% layout("./layouts/boilerplate") -%>
  <div>
    <div class="container mt-5">
      <h2 class="text-center">Edit Post Details</h2>
      <form method="post" action="/posts/<%= post.id%>?_method=PUT" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="post[title]" value="<%= post.title %>" required>
          <div class="invalid-feedback">
            Field is required
          </div>
        </div>

        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" id="content" name="post[content]" rows="5"
            required><%=post.content %></textarea>
          <div class="invalid-feedback">
            Field is required
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>