<% layout("./layouts/boilerplate") -%>
<div>
  <div class="container mt-5">
    <h2 class="text-center">Edit Post Details</h2>
    <form method="post" action="/posts/<%= post.id%>?_method=PUT">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>"> 
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="5" ><%=post.content %></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
