<% layout("./layouts/boilerplate") -%>

  <div class="card fw-bolder" style="margin: 20px 0 70px ;">
    <div class="card-header">
      <h1 class="text-center">I am the help page</h1>
    </div>
    <div class="card-body p-4" style="text-align: justify;">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat
        voluptates
        obcaecati
        corrupti tempore.
        Voluptatibus ducimus impedit quis, et iusto deleniti repellat enim magnam quidem deserunt. Culpa eligendi
        perferendis optio vitae ab voluptate earum rerum eveniet aut soluta tempora asperiores veniam facere fugit,
        aspernatur illo distinctio? Ipsa perspiciatis repudiandae inventore ducimus ut accusantium ex at doloribus
        libero
        temporibus nobis amet aperiam cum corrupti reprehenderit, in iste a, minus eveniet unde consequuntur vel
        mollitia!
        Hic aut autem mollitia nulla sed corrupti alias ex ipsa vel, molestias inventore numquam quod tenetur culpa,
        perspiciatis, ratione neque veniam iusto doloribus aperiam explicabo ipsam et perferendis eveniet? Recusandae
        <br> <br>
        nesciunt architecto, est deleniti at praesentium minima animi blanditiis facilis? In, dignissimos tempora eius
        optio
        cum architecto commodi ratione ut voluptates qui reiciendis ipsum quam laudantium odio nobis repellendus est
        voluptate totam! Numquam provident atque animi, aut quisquam voluptate vel delectus illo nobis molestias quae,
        porro
        molestiae eius velit repudiandae, recusandae aliquid optio quibusdam libero iure. Quo iure temporibus
        consequatur?
        Eligendi ex facilis suscipit reprehenderit corporis voluptate cum sint ab, distinctio nulla magnam debitis
        consequatur accusamus aperiam ipsam unde reiciendis id nostrum officiis, perferendis nisi exercitationem itaque
        neque quibusdam. Ipsam fuga optio delectus necessitatibus amet illo. Nobis, incidunt.
      </p>
      <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odit tempore. Mollitia maiores sed
        reprehenderit
        laudantium? Expedita, possimus iste quo doloremque rem voluptatem totam, libero labore veniam rerum quam
        cupiditate
        necessitatibus animi quis, hic quae. Eligendi, non nostrum vitae illum veniam error cum recusandae esse
        voluptatem
        cumque aliquid, similique aut.</b>
    </div>

  </div>